@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@media only screen and (min-width: 768px) {
    .person1 img,
    .person2 img {
      width: 180px;
    }
    .table-main {
      width: 100%;
    }
    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    .font1 {
      font-size: 40px;
    }
    .font2 {
      font-size: 40px;
    }
    .font3 {
      font-size: 35px;
    }
    .font4 {
      font-size: 30px;
    }
    .font5 {
      font-size: 16px;
    }
  }